.anota-page {
  min-height: 100vh;
  background: #1a1a1a;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("../assets/anota.png");
  background-size: cover;
  background-position: default;

  padding-top: 60px;
}

.titulo {
  color: #d4aa2a;
  font-size: 3rem;
  margin-bottom: 40px;
}

.anota-form {
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.anota-form input,
.anota-form select {
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
}

.anota-form button {
  margin-top: 10px;
  padding: 15px;

  border: none;
  border-radius: 10px;

  background: #d4aa2a;
  font-weight: bold;
  cursor: pointer;
}